#megamenu{
    
    background-color:#e4d5c8;
}


.container {
    margin-left: -100px;
    
   /* margin-right:-200px; */
    width: auto;
	background-color:#e4d5c8;
    
    margin-left:100px;
}
.navbar{
  background-color:#e4d5c8;
  color:#0d0e0d;
  font-family: Open Sans,sans-serif;
  width:100%;
  /* margin-left:100px;
  margin-right:200px; */
  
  height: 33px;
}
.list-unstyled img{
    height: 200px;
    width:180px;

}
/* .navbar-nav{
    /* display:grid;
    grid-template-columns: repeat(6,1fr); */
 
.navbar-nav a{
    Color:#003953;
    font-family: "Open Sans", sans-serif;
justify-content:center;
}
.navbar-nav ul li{
    line-height:40px;
    Color:#003953;
    font-family: "Open Sans", sans-serif;
}
.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 450px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}